/* =========================================
   LISTA DE PRODUCTOS
   MOBILE FIRST
========================================= */

.list-products {
    display: grid;

    grid-template-columns: 1fr;

    gap: 1.5rem;
}


/* =========================================
   TABLET
========================================= */

@media (min-width: 768px) {

    .list-products {
        grid-template-columns: repeat(2, 1fr);

        gap: 1.8rem;
    }

}


/* =========================================
   DESKTOP
========================================= */

@media (min-width: 1024px) {

    .list-products {
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;
    }

}


/* =========================================
   UHD
========================================= */

@media (min-width: 1600px) {

    .list-products {
        grid-template-columns: repeat(4, 1fr);

        gap: 2.2rem;
    }

}